.chat-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chat-detail__header {
  flex-shrink: 0;
  height: 40px;
}

.chat-detail__list {
  flex: 1;
  overflow: hidden;
  background-color: #f4f4f5;
  border-radius: 8px !important;
}

.chat-detail__input {
  flex-shrink: 0;
}
