.menubar {
  height: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background-color: oklch(0.606 0.041 264.052);
  -webkit-app-region: drag;
  user-select: none;
}

.menubar--mac {
  padding: 0 12px 0 78px;
}

.menubar--win {
  padding: 0 12px;
}

.menubar__title {
  font-size: 13px;
  font-weight: 600;
  color: oklch(0.95 0 0);
}

.menubar__actions {
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-app-region: no-drag;
}

.menubar__actions .arco-btn {
  width: 28px;
  height: 28px;
  font-size: 16px;
  color: oklch(0.95 0 0);
}

.menubar__actions .arco-btn:hover {
  background-color: oklch(0.5 0.041 264.052);
}

.menubar__actions .arco-btn .arco-icon {
  font-size: 16px;
}
