node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.idea
.vscode
.windsurf
rigs/*
rig_dev/*
.env.rig
!rigs/.gitkeep
!rig_dev/.gitkeep
external_resources/*
!external_resources/.gitkeep
legacy/
local.md
demo/
local_test/
dump/*
!dump/.gitkeep
electron-builder.yml
publish.js
local
snapshots
asar_unpacked
.upload_checkpoint
build/installer.nsh
