.add-domain-button {
  min-width: 300px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: oklch(0.96 0 0);
  cursor: pointer;
  color: oklch(0.5 0 0);
  font-size: 13px;
  transition: all 0.2s;
  gap: 6px;
  flex-shrink: 0;
}

.add-domain-button:hover {
  background-color: oklch(0.93 0 0);
  color: oklch(0.3 0 0);
}
