.todo-app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: oklch(0.985 0 0);
}


.todo-app__board {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.todo-app__board-scroll {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
}

.todo-app__board-draggable {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}
