.arco-dropdown-list {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.arco-dropdown-option {
  border-radius: 6px !important;
}

.arco-dropdown-list-wrapper {
  max-height: 320px;
}
