.arco-menu-vertical {
  .arco-menu-inner {
    padding-left: 6px !important;
    padding-right: 4px !important;
  }

  .arco-menu-item {
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: 13px !important;
    border-radius: 6px !important;
  }
}

.arco-menu-horizontal {
  .arco-menu-item {
    border-radius: 6px !important;
  }
}
