@import '../../../renderer/common/assets/style/theme.less';
@import './assets/style/theme.less';

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  font: 13px -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  line-height: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

button,
select {
  text-transform: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  appearance: button;
}

button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none !important;
}
