.chat {
  position: relative;
  width: 100%;
  height: 100%;

}

.chat .arco-drawer-container {
  border-radius: 8px !important;
}

.chat .arco-drawer-mask {
  border-radius: 8px !important;
}

.chat .arco-drawer {
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
}
